html, body {
    background-color: #222222;
}
.limitedCounterValue {
    color: red;
    font-size: 28px;
}
.outputCounterValue {
    color: #00d8ff;
    font-size: 28px;
}
.countContainer {
    width: 385px;
    height: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20% auto;
    background-color: #222222;
    border-radius: 8px;
    padding: 3rem;
    border: 2px solid rgb(0, 216, 255);
    gap: 20px;

}
.buttonContainer {
    width: 375px;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid rgb(0, 216, 255);
    border-radius: 8px;
    padding: 25px;
}
.button {
    padding: 10px 30px;
    font-size: 25px;
    background-color: #00d8ff;
    color: #222222;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}
.button:active {
    color: #00d8ff;
    background-color: #222222;
}
.disabledButton {
    padding: 10px 30px;
    font-size: 25px;
    background-color: #3d6d7f;
    color: #222222;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}
.container {
    display: flex;
}

.settingValue {
    display: flex;
    flex-wrap: wrap;
    width: 375px;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    color: #00d8ff;
    font-weight: bold;
    border: 2px solid rgb(0, 216, 255);
    border-radius: 8px;
    padding: 25px;
}

span {
    font-size: 20px;
    color: #00d8ff;
    font-weight: bold;
}
.errorInput {
    background-color: #fce4e4;
    border: 2px solid red;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    outline: none;
    border-radius: 5px;

}
input {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    outline: none;
    border: 2px solid #00d8ff;
    border-radius: 5px;
    padding: 5px;

}
.errorValue {
    color: red;
}

.a {
    width: 375px;
    height: inherit;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(0, 216, 255);
    border-radius: 8px;
    padding: 25px;
}